{
        auto_https off
}

{$APP_HOSTNAME}, {$APP_HOSTNAME_WS} {
        root * /usr/share/caddy/html/public
        header {
                X-Xss-Protection "1; mode=block"
                X-Content-Type-Options "nosniff"
                X-Frame-Options "SAMEORIGIN"
                Content-Security-Policy "upgrade-insecure-requests"
                -Server Caddy
        }
        request_body {
                max_size 100mb
        }
        handle_path /storage/* {
                root * /usr/share/caddy/html/storage/app/public
                file_server
                header Cache-Control "public, max-age=31536000"
        }
        handle /app* {
                reverse_proxy reverb:8080
        }
        php_fastcgi app:9000
        file_server
        log {
                output stdout
                format console
        }
}
